project/project/
target/
*.pgm
.bsp

# Created by https://www.toptal.com/developers/gitignore/api/scala,metals,visualstudiocode
# Edit at https://www.toptal.com/developers/gitignore?templates=scala,metals,visualstudiocode

### Metals ###
.metals/
.bloop/
project/metals.sbt

### Scala ###
*.class
*.log

### VisualStudioCode ###
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
*.code-workspace

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

# End of https://www.toptal.com/developers/gitignore/api/scala,metals,visualstudiocode